#main_content{
    min-height: 80vh;
    padding: 30px;
    flex-wrap: wrap;
}
#main_content #header_actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#main_content #articles_content{
    flex-wrap: wrap;
}
#main_content #articles_content .card{
    margin: 10px;
}



/* SHOW ARTICLE */
.page#post{
    min-height: 120vh;
    padding: 50px 100px;
}
.page#post img{
    max-height: 400px;
    object-fit: cover;
}

/* FOOTER */
footer{
    height: 100px;
    background: #d7d7d7;
}
footer .container,footer .row{
    height: 100%;
}